ul {
    margin: 0px;
    padding: 0px;
}
.formula4{
    background: #FFC309;
    font-size: 17px;
    color: black;
    text-decoration: none !important;
    padding: 10px 20px 10px 20px;
    border-radius: 0px;
}
.formula4:hover{
    background: #B9E6C9 !important;
    font-size: 17px;
    text-decoration: none !important;
    padding: 10px 20px 10px 20px;
    border-radius: 0px;
}
.footer-section {
  background: #084442;
  position: relative;
  margin-top: 90px;
  padding: 50px 0px 0px 0px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #FFC309;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #FFC309;
}
.footer-widget ul li {
  display: block;
  /* float: left; */
  /* width: 50%; */
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color:#FFC309;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #FFC309;
    padding: 13px 20px;
    border: 1px solid #FFC309;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #084442;
  padding: 25px 0;

}
.socialmediatext{
    color: white;
}
.socialmediatext:hover{
    color: #FFC309 !important;
}
.bor1{
    border: 1px solid #f6f6f6;
}

.footerlink1{
    font-size: 16px !important;
    color: #FFC309 !important;
}
.footerlink1:hover{
    font-size: 16px !important;
    color: #B9E6C9 !important;
}

.copyright-text p {
  margin: 0;
  font-size: 16px !important;
  color: #FFC309;
}
.copyright-text p a{
  color: #FFC309;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #FFC309;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

input.form1.form-control {
    border-radius: 0px;
    width: 65%;
}
button.btn8.btn.btn-primary {
    border-radius: 0px;
    background: none;
    border: 2px solid #B9E6C9;
}
button.btn8.btn.btn-primary:hover {
    border-radius: 0px;
    background: #FFC309;
    border: none;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  left: 0;
  top: 0;
  height: 39px;
  width: 100%;
  display: none !important;
  z-index: 10000001;
  position: fixed;
  border: none;
  border-bottom: 1px solid #6B90DA;
  margin: 0;
  box-shadow: 0 0 8px 1px #999;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  display: none !important;
}

.translated-ltr {
  margin-top: -40px;
}

.translated-ltr {
  margin-top: -40px;
}

.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadge {
  color: transparent !important;
}
.goog-te-gadget {
  font-family: arial;
  font-size: 0px;
  color: #fff0;
  white-space: nowrap;
  margin: 0px 10px 0px 0px !important;
  
}
.goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf * {
  font-family: arial;
  font-size: 14px;
  /* height: 20px; */
  border: none !important;
  /* border-radius: 5px;
  width: 50%; */
  margin-left: 90px;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  text-decoration: none !important;
  
  white-space: nowrap;
  margin-left: 4px;
  margin-right: 4px;
  color: black !important;
}


.indicator {
  display: none !important;
}
.goog-te-gadget-simple {

  padding: 5px;
  border-radius: 10px;
}
.btn-primary{
  background-color: transparent;
}
