.cardimgtop {
    height: 200px;
}

.title98r {
    font-size: 18px !important;
    color: #084442;
    font-weight: 700;
}

.CONNECTERMONSITE {
    background-color: #ffc309 !important;
    color: #084442 !important;
    border: 0px;
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
}

.CONNECTERMONSITE:hover {
    background-color: #B9E6C9 !important;
    color: #084442 !important;
    border: 0px;
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
}

.CONNECTERMONSITE1 {
    background-color: #084442 !important;
    color: white;
    border: 0px;
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
}

.CONNECTERMONSITE1:hover {
    background-color: #B9E6C9 !important;
    color: #084442 !important;
    border: 0px;
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
}

.profilecardmapd {
    width: 100% !important;
    border: 0px;
    border-radius: 0px;
    margin: 0px 0px 30px 0px;
    background: #084442;

    padding: 20px 20px 20px 20px;

}

.profilecardmap {
    width: 100% !important;
    border: 2px dashed black;
    border-radius: 0px;
    margin: 30px 0px 30px 0px;
    background: #f7fcf9;

    padding: 20px 20px 20px 20px;
}

.filter45 {
    background-color: transparent;
    border: none;
}

.cardheigth {
    height: 480px;
    margin: 0px 0px 30px 0px !important;
    border: 2px dashed black;
    border-radius: 0px;
}

.reacherch56 {
    border: none !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 7px;
   
    width: 200px;

}
.reacherch56:hover {
    border: none !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 7px;
    

}
.reacherch561 {
    box-shadow: rgba(149, 157, 165, 0) 0px 8px 24px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 38px;
    margin-left: -25px;

    
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #084442;
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: #d1d1d1;
    --bs-pagination-border-radius:1px;
    --bs-pagination-hover-color: #000000;
    --bs-pagination-hover-bg: #ffc309;
    --bs-pagination-hover-border-color: #ffc10900;
    --bs-pagination-focus-color: #98958c;
    --bs-pagination-focus-bg: #084442;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #084442;
}
svg.adit1.bnnnn{
    margin:-50px 0px 40px 100px ;
   
}
@media (max-width: 480px) {
    .reacherch56 {
        border: none !important;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 7px;
        width: 293px !important;
    }
    .row56.hstack.gap-3 {
        display: grid;
    }
    .p-2.ms-auto.b {
       
        padding: 0px !important;
        margin: 0px !important;
    }
    .CONNECTERMONSITE1 {
        background-color: #084442 !important;
        color: white;
        border: 0px;
        border-radius: 0px;
        padding: 12px 62px 12px 62px !important;
        margin: 10px 0px 10px 0px !important;
    }
    .bnnnn{
        margin:-80px 0px 0px 100px !important ;
       
    }

    svg.adit1.bnnnn {
        margin: -100px 0px 0px 130px !important;
    }
    
    
}
@media (max-width: 768px) {
.row56.hstack.gap-3 {
    display: grid;
}
.p-2.ms-auto.b {
   
    padding: 0px !important;
    margin: 0px !important;
}
.CONNECTERMONSITE1 {
    background-color: #084442 !important;
    color: white;
    border: 0px;
    border-radius: 0px;
    padding: 12px 62px 12px 62px !important;
    margin: 10px 0px 10px 0px !important;
}
.mbnvc.row {
    /* width: 100%; */
    display: grid;
}
.col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
}

svg.adit1.bnnnn {
    margin: -100px 0px 0px 130px !important;
}


}