/* .sc-lnsjTu.epZUJV {
    margin: -1170px 650px 0px 0px;
    color: white;
    border: 2px solid white;
   
}

span.sc-bZHSRq.sc-ilxebA.czCoqD.fAiwtk {
    margin: -1170px 10px 0px 0px !important;
    z-index: 10;
    color:white;
}
.div tr:nth-child(even){background-color: #b80f0f;}

.div tr:hover {background-color: #ddd;}


.ser {
    border-radius: 0px;
    color: #838383db !important;
    box-shadow: rgb(100 100 111 / 11%) 0px 7px 29px 0px;
    border: none;
    margin: -20px 0px 0px 0px;
}

.hMFeQo {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    align-items: center;
    padding: 20px 16px 4px 24px !important;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #084442 !important;
    min-height: 52px;
    color:white !important;
} */