/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); */


:root {

  /* --- Colors --- */

  --light-blue-100: 199, 84%, 55%;
  /* #2bb0ed */
  --light-blue-500: 202, 83%, 41%;
  /* #127fbf */
  --light-blue-900: 204, 96%, 27%;
  /* #035388 */

  --blue-100: 210, 22%, 49%;
  /* #627d98 */
  --blue-500: 209, 34%, 30%;
  /* #334e68 */
  --blue-900: 209, 61%, 16%;
  /* #102a43 */

  --gray-100: 210, 36%, 96%;
  /* #f0f4F8 */
  --gray-300: 212, 33%, 89%;
  /* #d9e2ec */
  --gray-500: 210, 31%, 80%;
  /* #bcccdc */
  --gray-700: 211, 27%, 70%;
  /* #9fb3c8 */
  --gray-900: 209, 23%, 60%;
  /* #829ab1 */

  --white: 0, 0%, 100%;
  /* #ffffff */

  /* --- Typography --- */

  --font-family-sans-serif: "Montserrat", sans-serif;

  /* --- Layout --- */

  --space-multiplier: 0.8;

  --content-max-width: 140rem;

  --grid-spacer-width: 1.5rem;
  --grid-column-count: 12;

}


.step67 {

  margin: -30px 10px 0px 0px;

}

:focus-visible {
  outline: hsl(var(--light-blue-900)) auto 1px;
  outline-offset: 0;
}

.FaCheckCircleb {
  font-size: 40px;
  z-index: 1000;
}


.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  /* 1 */
  width: 1px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}


@media only screen and (min-width: 640px) {
  .sm\:d-none {
    display: none;
  }
}

/* ==========================================================================
   Component: Progress Form
   ========================================================================== */

.progress-form {
  background-color: #EAEAEA;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 10%),
    0 1px 2px -1px rgb(0, 0, 0, 10%);
}

.bnm78 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0),
    0 1px 2px -1px rgba(0, 0, 0, 0);
  background-color: #b5c7c7;
  color: black !important;
  width: 190px !important;
  margin: 0px 0px 20px 0px;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a09600 !important;

}

abbr,
acronym {
  border-bottom: 1px dotted #6660;
  cursor: help;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: none !important;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.react-calendar__tile--active {
  background: #084442 !important;
  color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;


}

/* b5c7c7 */


/* Tabs
   ========================================================================== */

.progress-form__tabs {
  column-gap: 0;
  margin: 0px 40px 0px 40px;
}

@media only screen and (min-width: 640px) {
  .progress-form__tabs {
    column-gap: 2rem;
  }
}

.progress-form__tabs-item {
  --button-background-color: transparent;
  --button-border-width: 5px;
  --button-border-style: solid;
  --button-border-color: hsl(var(--gray-300));
  --button-border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
  --button-border-radius: 0;
  --button-height: 1.4;
  --button-text-align: left;
  --button-text-color: hsl(var(--blue-900));
  --button-text-font-size: 1.4rem;
  --button-text-letter-spacing: 0.025em;
  --button-text-shadow: none;

  background-color: var(--button-background-color);
  border: 0;
  border-top: var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  display: none;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-height);
  position: relative;
  text-align: var(--button-text-align);
  text-shadow: var(--button-text-shadow);
  transition: color 0.2s ease-in-out;
  white-space: normal;

}

.progress-form__tabs-item:active {
  transform: none;
}

.progress-form__tabs-item:hover,
.progress-form__tabs-item:focus {
  background-color: inherit;
  color: inherit;
}

.progress-form__tabs-item::before {
  background-color: hsl(var(--light-blue-500));
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: -5px;
  transition: width 0.2s ease-in-out;
  width: 0;
}

.progress-form__tabs-item>.step {
  color: hsl(var(--blue-100));
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.facheck {
  font-size: 40px;
  margin: -45px 0px 0px -40px;
}

@media only screen and (min-width: 640px) {
  .progress-form__tabs-item {
    display: block;
  }
}

/* --- Current Step --- */

.progress-form__tabs-item[aria-selected="true"] {
  display: block;
}

.progress-form__tabs-item[aria-selected="true"]::before {
  width: 50%;
}

.progress-form__tabs-item[aria-selected="true"]>.step {
  color: hsl(var(--light-blue-500));
}

/* --- Disabled Step --- */

@media only screen and (min-width: 640px) {
  .progress-form__tabs-item[aria-disabled="true"] {
    --button-background-color: transparent;
    --button-text-color: hsl(var(--blue-100));

    background-color: var(--button-background-color);
    color: var(--button-text-color);
    margin: 0px 0px 0px 40px !important;
  }
}

/* --- Completed Step --- */

.progress-form__tabs-item[data-complete="true"]::before {
  width: 100%;
}

.progress-form__tabs-item[data-complete="true"]>.step {
  color: hsl(var(--light-blue-500));
}



.form-control67 {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 0px 1px;
}

.lablle88 {
  font-size: 19px;
  margin: 10px 0px 10px 0px;

}

.SUIVANT {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 14px 0px 14px 0px !important;
  background-color: #084442 !important;
  color: #ffffff !important;
  border: 0px;
  border-radius: 0px;

}

.Informations {
  color: #084442;
  font-style: normal;
  font-family: 'Work Sans';
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-process.ant-steps-item-custom .ant-steps-item-icon>.ant-steps-icon {
  color: #084442 !important;
  background: #084442 !important;
  border-radius: 60px !important;
  padding: 0px 3px 0px 3px;

  /* font-size: 10px; */
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-custom>.ant-steps-item-container>.ant-steps-item-icon>.ant-steps-icon {
  top: 0;
  width: 90px !important;
  height: 32px;
  font-size: 20px;
  line-height: 10px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-wait.ant-steps-item-custom .ant-steps-item-icon>.ant-steps-icon {
  color: #08444200 !important;
  background: #0844427a !important;
  border-radius: 60px !important;
  padding: 0px 3px 0px 3px;
  /* padding: 10px; */
  /* font-size: 10px; */
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #0844427a !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title:hover {
  color: rgba(0, 0, 0, 0.88) !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #ffffff !important;
  background: #084442 !important;
  border-radius: 60px !important;
  padding: 0px 3px 0px 3px;

}


:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #084442 !important;
}

.Informationss {
  color: #084442;
  background-color: #EAEAEA;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
  font-family: 'Work Sans';
}

.lableinput {
  color: #000000;
  font-style: normal;
  font-size: 17px;
  font-family: 'Work Sans';
  margin: 0px 0px 4px 0px;
}

.lableinputs {
  color: #000000;
  font-style: normal;
  font-size: 16px;
  font-family: 'Work Sans';
  padding: 0px 0px 40px 0px;
}

.inputs {
  border-radius: 0px;
  padding: 8px;

}

:root {
  --switches-bg-color: rgb(239, 239, 239);
  --switches-label-color: rgb(0, 0, 0);
  --switch-bg-color: rgb(181, 181, 181);
  --switch-text-color: #000000;
}

.switches-container {
  width: 16rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: var(--switches-bg-color);
  line-height: 3rem;
  border-radius: 3rem;

}

.addbtnbb {
  background-color: #084442 !important;
  color: #ffffff !important;

  font-family: "Work Sans";
  font-size: 13.515px;
  font-style: normal;
  font-weight: 600;
  border: none !important;
  padding: 12px 30px 12px 30px !important;
  border-radius: 0px !important;

  margin-top: 0px !important;
  margin-bottom: 20px;
}

.rembtnnm {
  background-color: #FFC309 !important;
  color: #084442 !important;

  font-family: "Work Sans";
  font-size: 13.515px;
  font-style: normal;
  font-weight: 600;
  border: none !important;
  padding: 8px 30px 8px 30px !important;
  border-radius: 0px !important;
}
/* :where(.css-dev-only-do-not-override-1rqnfsa).ant-col-sm-7 {
 
  flex: 100%;
  max-width: 55%;
 

} */
.monipurimg7{
  width: 200px;
}
.redgb{
  background-color: 
  #EAEAEA;
}
.formaidut{
  background-color: 
  #EAEAEA;
  padding: 60px 10px 60px 30px !important;
 

}
.ms-aut {
  margin-inline-end: auto;
}

.switches-container .switchYearly6 {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.adreshb {
  font-size: 20px;
  font-weight: 500;
  color: #084442 !important;
}

.adresh2b {
  font-size: 16px;
  font-weight: 400;
  color: #084442 !important;

}

.gethour:hover {
  color: black;
}

.veuill {
  font-size: 16px;
  font-weight: 400;
  padding: 40px 30px 40px 0px !important;
  color: #084442 !important;
}

.switches-container .switchYearly66 {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
}


.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0px;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);

}

.switch {
  border-radius: 3rem;
  background: var(--switch-bg-color);
  height: 100%;
}


.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color);
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}

.text9 {
  color: #000000;
  font-style: normal;
  font-size: 16px;
  font-family: 'Work Sans';
}

.marinput {
  margin: 30px 20px 0px 0px;
}
.crfg{
  padding: 20px ;
  border-radius: 0px;
  border: none;
}

.marinputs {
  margin: 0px 20px 0px 0px;
}












.form__error-text {
  color: red;
}

.iconou {
  margin: 0px 0px 0px 20px;
}

.iconou3 {
  margin: 0px 0px 0px 30px;
}

.faedity {
  font-size: 40px;
  background-color: #B9E6C9;
  padding: 10px;
  color: white;
  border-radius: 30px;
}

.adresh {
  font-size: 25px;
  color: #084442 !important;
}

.adresh2 {
  font-size: 18px;
  color: #084442 !important;
}

.cardform876 {
  border: none;
  border-radius: 0px;
  background-color: #aaaaaa;
  padding: 50px;
}

.backbtun {

  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 13px 0px 13px 0px;
  background-color: #08444200 !important;
  color: #000000 !important;
  border: 0px;
  font-size: 23px;
  border-radius: 0px;
}










/* -------------clock------------ */

.gethour {
  font-size: 30px;
  background-color: #084442;
  padding: 3px 5px 3px 5px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
}

.getminuts {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;

}
.mnb{
  margin: 0px 0px 0px 40px;
}
.rowmnk{
   margin-left: auto;
  margin-right: auto;
  display: block;
  width: 55%;
 
}
.checkformg{
  font-size: 100px;
}
.finishform{
  background-color: #084442;
  color: #ffffff;

  padding: 50px 0px 50px 0px;

}
.maathenabr{
  background-color: #084442;
  padding: 12px 15px 12px 15px;
  color: white;
  font-size: 25px;
 
  border-radius: 100px;
}
.CONTINUER ,.addbtnbb{
  padding: 0px !important;
width: 200px;
  height: 50px;
}
.rembtnnm{
  padding: 0px !important;
width: 90px;
  height: 40px;
}
button.ant-btn.css-dev-only-do-not-override-1rqnfsa.ant-btn-default.SUIVANT{
  padding: 0px !important;
 
  height: 50px;

}


.cgu11{
  color: #084442;
  font-size: 40px;
  margin: 10px 0px 30px 0px;
}
.monpanigap{
  margin: 60px 0px 60px 0px;
}
.checkbag{
  background-color: #f7fcf9;
  margin: -38px 0px 0px 0px;
  padding: 60px 0px 100px 0px;

}
.finishcard{
  background-color: white;
  padding: 20px;
}
.CONTINUER{
  margin-left: auto;
  margin-right: auto;
  display: block;
 background-color: #FFC309 !important;
 border: none;
 color: #000000;
 border-radius: 0px;
 padding: 12px ;

}

.CONTINUER:hover{
  margin-left: auto;
  margin-right: auto;
  display: block;
 background-color: #FFC309 !important;
 border: none;
 color: #000000 !important;
 border-radius: 0px;
 padding: 12px ;

}
.monpaniimg8n{
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
  width: 150px;
}
.monpaniimg8n{

}
.gethour1 {
  font-size: 30px;
  background-color: #0844427a;
  padding: 3px 5px 3px 5px;
  color: #000000;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}

.gethour9 {
  font-size: 15px;
  background-color: #084442;
  padding: 7px 5px 7px 5px !important;
  color: #ffffff;
  border-radius: 2px;
  margin: 10px 0px 10px 0px !important;
}

.gethour99 {
  font-size: 15px;
  background-color: #08444200;
  padding: 7px 9px 7px 9px;
  margin: 20px 0px 0px 0px !important;
  color: #000000;
  border-radius: 2px;
  border: 2px solid #084442;
}

  
@media (max-width: 480px) {
:where(.css-dev-only-do-not-override-1rqnfsa).ant-steps.ant-steps-vertical {
  display: flex;
  flex-direction: row !important;
 
  overflow: overlay;
}
.monpaniimg8n {
  width: 100% !important;
}
.maultipfelx.my-4.hstack.gap-3 {
  display: flex !important;
}
.maultipfelx.mb-4.hstack.gap-3 {
  display: flex !important;
}
.maultipfelx.hstack.gap-3 {
  display: flex !important;
}
.react-calendar__tile--active {
 
  height: 33px !important;
}
.clockhori.hstack.gap-1{
  display: flex !important;
}

.getminuts {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100% !important;
}
.rowmnk {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100% !important;
}
.product78.hstack.gap-3 {
  display: flex !important;
}
.maathenabr {
  background-color: #084442;
  padding: 12px 19px 12px 19px !important;
  color: white;
  font-size: 25px;
  border-radius: 100px;
  float: right !important;
  margin-bottom: 30px;
} 


}


@media (max-width: 768px) {
  .mnb {
    margin: 0px 0px 0px 0px ;
}
.rowmnk {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100% !important;
}


}